<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApiToken" value="pk_a7a0eda78ad6494891583e4fb0b85b47"/>
    <add key="MongoDbConnStr" value="mongodb://tarkowr:2kaehun3Rnhs4Gea@nmc-shard-00-00-ikrnl.mongodb.net:27017,nmc-shard-00-01-ikrnl.mongodb.net:27017,nmc-shard-00-02-ikrnl.mongodb.net:27017/test?ssl=true&amp;replicaSet=NMC-shard-0&amp;authSource=admin&amp;retryWrites=true"/>
    <add key="MongoDbName" value="StockInsight"/>
    <add key="MongoDbCollection" value="ticker_symbols"/>
  </appSettings>
</configuration>